 <%- include("partials/header") %>


<div class="ui main text container segment">
    <div class="ui huge header"> Question goes here:</div> 
    <form class= "ui form" action= "/mathClassroom/<%= questionM._id%>?_method=PUT" method= "POST">
        <div class="field">
        <label> Que quieres saber?</label>
            <input type= "text" name="QuestionM[question]" value="<%=questionM.question%>">
        </div>

        <div class="field">
        <label> Photo del proceso en lapiz (opcional)</label>
                <input type= "text" name="QuestionM[image]" value="<%=questionM.image%>">
        </div>

        <div class= "field">
        <label>Detalles:</label>
        <textarea name= "QuestionM[body]"> <%=questionM.body%></textarea>
 
        </div>
        
        <input class="ui violet big basic button" type= "submit"> 
    </form>
</div>

  <%- include("partials/footer") %>

